<div>
    <h3>Add New Cake</h3>
    <form method="POST" action="/cakes/store">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <textarea type="text" class="form-control" id="description" name="description"></textarea>
        </div>

         <div class="form-group">
            <label for="price">Price</label>
            <input type="text" class="form-control" id="price" name="price">
        </div>

         <div class="form-group">
            <label for="category">Category</label>
            <input type="text" class="form-control" id="category" name="category">
        </div>

        <div class="form-group">
            <label for="pictures">Image</label>
            <input type="text" class="form-control" id="pictures" name="pictures">
        </div>

        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>